html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #eee;
    margin: 0; 
}

header {
    text-align: center;
    color: #ce973e;
    font-weight: bold;
    font-size: 35px;
    padding: 40px 0px 40px 0px;
    border-bottom: 2px solid silver;
    background-color: white;
}

.list-header {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

#bookList {
    margin: 0 auto;
    width: 1000px;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
    border-collapse: collapse;
}

#bookList td, #bookList th {
    border: 1px solid #ddd;
    padding: 8px;
}

#bookList tr:nth-child(even) {background-color: white;}

#bookList tr:hover {background-color: #ddd;}

#bookList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#addBook {
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 8px 16px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 18px;
}

#addBook:hover {
    box-shadow: none;
    background-color: #059862;
}

#bookList tr > td:last-child { 
    text-align: center;
}

.material-icons-outlined {
    cursor: pointer;
}

/* Modal Background */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-box-delete, 
.modal-box-input {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 520px;
    display: none;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
}

.modal-header {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.modal-message {
    margin: 20px 0;
}

.modal-buttons {
    display: flex;
    flex-flow: row wrap;   
}

.modal-input {
    display: inline-flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.flex-outer {
    list-style-type: none;
    max-width: 600px;
    padding-right: 20px;
    padding-top: 20px;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.flex-outer > li > label {
    flex: 1 0 120px;
    max-width: 220px;
    margin-bottom: 5px;
    font-size: 18px;
}

.flex-outer > li > input[type="text"],
.flex-outer > li > input[type="number"] {
    flex: 1 0 220px;
    font-size: 18px;
}

.flex-outer > li > input[type="checkbox"] {
    height: 18px;
    width: 18px;   
}

.flex-outer > li:last-child > label{
    flex: 0 0 50px;
    margin-bottom: 0;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}

.popup-button {
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin: 5px;
    padding: 5px 23px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
}

#delete {
    background: transparent;
    border: 1px solid tomato;;
    color: tomato;
}

#delete:hover {
    background-color: tomato;
    color: white;
}

.cancel:hover {
    opacity: 0.9;
}



